*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
} 

.entire-home-page{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

li{
  list-style: none;
  cursor: pointer;
}

.image-container{
  text-align: center;
  border-bottom: 1px solid rgba(186, 186, 186, 0.694);
  padding: 3rem;

}

.image{
  max-width: 150px;
  max-height: 100px;
  fill: none;
}

.info{
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.info > strong{
  color: rgba(165, 165, 165, 0.842);
}


.main-add{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgb(235, 76, 76);
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bx-cart{
  color: white;
  font-size: 30px;
}

.look-for{
  width: 98%;
  height: 50px;
  margin-bottom: 2rem;
}

.look-for > input{
  height: 45px;
  width: 95%;
  border: 1px solid rgba(180, 179, 179, 0.671) ;
  padding: 0 1rem;
}

.look-for > button{
  height: 45px;
  width: 5%;
  border: none;
  background-color: rgb(235, 76, 76);
}
.bx-search{
  color: white;
}
.nav-bar{
  height: 70px;
  display: flex;
  border-bottom: 1px solid rgba(128,128,128,0.439);
}

.nav-logo{
  display: flex;
  align-items: center;
  width: 55%;
  padding-left: 1rem;
}

.nav-logo > img{
  height: 60px;
}

.nav-link{
  background-color: white;
  border: none;
  border-left: 1px solid rgba(128,128,128,0.439);
  width: 15%;
  text-align: center;
}

.nav-link > .bx{
  font-size: 30px;
  color: rgba(128, 128, 128, 0.439);  
  padding: 1rem;
}

.home-page{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.product-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.g-4{
  width: 100%;
}

.filter{
  width: 20%;
}

.filter-price{
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter-price > span {
  text-align: left;
  width: 20%;
}

.filter-price > input {
  width: 70%;
}

.filter-body{
  text-align: end;
  margin-bottom: 2rem;
}

.filter-button{
  padding:0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(235, 76, 76);
}

.single-product{
  display: flex;
}

.show-product{
  padding: 1rem;
}

.releated-products{
  padding: 3rem;
}

.releated-title{
  color: rgb(235, 76, 76);
  font-size: 19px;
  padding: 0 0 2rem 0;
  margin-left: -1.5rem;

}

.product-info{
  padding: 5rem;
  width: 50%;
}

.carrousel-container{
  position: relative;
  padding:0 3rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carrousel-container > h6{
  font-weight: bold;
  color: rgb(97, 97, 97);
  position:absolute;
  top: 10px;
  left: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.carrousel-container > h6 > span{
  font-weight: lighter;
  color:  gray;
}

.bxs-circle{
  padding-top: 4px;
  font-size: 7px;
  margin: 0 0.7rem;
  color: red;
  display: flex;
  align-items: center;
}

.main-info{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-info > span{
  color: gray;
}
.main-info > h3{
  font-size: 24px;
  padding-left: 1rem;
  color: rgb(71, 71, 71);
}
.main-info > p {
  font-size: 14px;
  font-weight:500;
  color: rgb(74, 74, 74);
}

.info-button{
  margin-top: 1rem;
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

.info-button > div{
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: bold;
}

.price{
  color: rgb(79, 79, 79);
  padding-left: 1rem;
  padding-top: 0.7rem;
}

.quantity-container{
  text-align: center;
}

.quantity-button{
  border: 1px solid gray;
  background-color: white;
  height: 30px;
  width: 30px;
}

.quantity{
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quantity-number{
  height: 30px;
  width: 40px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-top: 1rem;
}

.add-to{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color:rgb(235, 76, 76);
  border: none;
  color: white;
  margin-top: 1rem;
}

.carrousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.image-min{
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 70px;
}

.image-min > img{
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.image-big{

  display: flex;
  align-items: center;
  height: 300px;
  width: 90%;
}

.image-big > button{
  border-radius: 50%;
  width: 60px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgb(235, 76, 76);
}

.img-container{
  width: 70%;
  max-height: 80%;
  display: flex;
  overflow: hidden;
  margin: 0 2rem;
}

.img-container > img{
  width: 100%;
}


/*Login*/

.login-container{
  margin-top: 0;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.login-card{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  width: 35%;
}

.login-card > h3{
  font-size: 24px;
  color: rgb(66, 66, 66);
}

.submit{

  width: 100%;
  padding: 0.5rem 0;
  background-color: rgb(235, 76, 76);
  color: white;
  border: none;
  margin-bottom: 1rem;
}

.test{
  background-color: rgba(206, 235, 255, 0.747);
  margin: 1rem 0;
  border-radius: 10px;
  padding: 1rem 0 0 1rem;
}

.test > h3{
  text-align: center;
  font-size: 20px;
  color: rgb(66, 66, 66);
}

.bx-envelope, .bx-lock-alt{
  padding-right: 0.5rem;
  font-size: 22px;
  color: rbg(66,66,66);
}

/*Purchase*/


.purchase-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

.purchases-container{
  width: 100%;
  display:  flex;
  flex-direction: column;
  align-items: center;
}

.purchases-title {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.purchases-title > h6{
  display: flex;
  padding: 2rem 0;
}

.purchase-item{
  border: 1px solid gray;
  width: 60%;
  border-radius: 10px;
}

.purchase-date{
  border-bottom: 1px solid gray;
  padding: 1rem 0 0 1rem;
  font-size: 20px;
}

.purchase-product{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.purchase-product > span{
  border: 1px solid gray;
  padding: 0.5rem 1.5rem;
}

.purchase-name{
  width: 40%;
}

.purchase-back{
  cursor: pointer;
  color: gray;
}